
#carousel {
  width: 100%;
  height: 275px;
  background-color: #777;
 
  
  overflow: visible;
  white-space:nowrap;
}

#carousel .slide {
  display: inline-block;
}

#image{
  width: 100px;
  height: 150px;
}
.slide img{ max-width: 200px; max-height: 250px; margin: 10px; display: inline-block; vertical-align: middle;}
